<ion-header>
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  
  
    <form (ngSubmit)="onSubmit()" [formGroup]="credentials">
      <div class="input-group">
        <ion-item>
          <ion-input type="email" placeholder="Email" formControlName="email"></ion-input>
          <!-- EMAIL ERROR MESSAGES -->
          <div *ngIf="credentials.controls.email.touched && credentials.controls.email.errors" class="errors">
            <span *ngIf="credentials.controls.email.errors?.required">Email is required</span>
            <span *ngIf="credentials.controls.email.errors?.email">Email is invalid</span>
          </div>  
        </ion-item>

        <ion-item>
          <ion-input type="password" placeholder="Password" formControlName="password"></ion-input>
        <!-- PW ERROR MESSAGES -->
          <div *ngIf="credentials.controls.password.touched && credentials.controls.password.errors" class="errors">
            <span *ngIf="credentials.controls.password.errors?.required">Password is required</span>
            <span *ngIf="credentials.controls.password.errors?.minlength">Password needs to be 6 characters</span>
          </div>  
        </ion-item>

      </div>
    
      <ion-button type="submit" expand="block" [disabled]="!credentials.valid">
        Log in</ion-button>
      
      <ion-button type="button" expand="block" color="light" fill="light" outline="true">
        Not yet a Bird? Apply here!</ion-button>
    
      </form>



</ion-content>
